* {
  list-style: none;
}

:root {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 10%;
  background-color: #f0f0f0;
}

main {
  padding: 1rem 10%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

li {
  display: flex;
}

li p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tags {
  display: flex;
}

.tags p {
  margin: 0 0.5rem;
  padding: 0.05rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
}

.cocktail {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
}

.cocktail img {
  width: 70%;
  height: auto;
  border-radius: 0.5rem;
}
.instructions {
  line-height: 1.5rem;
}

.search-bar {
  display: flex;
  justify-content: space-between;
}
.search-bar * {
  margin: 0.2rem;
  border-radius: 0.5rem;
}
.search-bar input {
  width: 70%;
  padding: 0.5rem;
  border: 1px solid #f0f0f0;
}
.search-bar button {
  padding: 0.5rem 1rem;
  background-color: #e0e0e0;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}
.search-bar button:hover {
  background-color: #d0d0d0;
}
